body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.3s;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #222;
    transition: 0.3s;
} 
.logo {
    padding: auto;
    width: 75px;
    height: 75px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 75px;
    text-align: center;
}
h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}
h2 {
  color: #fff;
  font-size: 18px;
  margin-top: 100px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.grid-item {
    width: 100px;
    height: 100px;
    background-color: #555;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}
.grid-item:hover {
    background-color: #777;
}

#code-version {
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.version-color {
  font-size: 18px;
  font-weight: bold;
}

#output-canvas {
  width: 96px;
  height: 192px;
}

#darkmode-label {
  width:125px;
  height:50px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.7), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}
#darkmode-label:after {
  content: "";
  width:30px;
  height: 30px;
  position: absolute;
  top:10px;
  left:10px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}
#darkmode-toggle:checked + #darkmode-label {
  background: #333;
}
#darkmode-toggle:checked + #darkmode-label:after {
  left:115px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#999,#4a4a4a);
}
#darkmode-label, #darkmode-label:after {
  transition: 0.3s
}
#darkmode-label:active:after{ 
  width: 45px; 
}
#darkmode-toggle:checked + #darkmode-label + body {
  background:#333;
}
#darkmode-toggle-container {
    position: fixed;
    top: 100px;
    right: 20px;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 350px;
  height: 200px;
  margin: 20px auto;
  margin-bottom: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #999;
  background-color: #444;
}
#file-input {
  display: none;
}
#file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #777;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
#file-label:hover {
  background-color: #888;
}